name: Generate API Documents
on:
  push:
    branches: [ main, master ]
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          pip install pdoc
          pip install -r requirements.txt
      - name: Generate HTML
        run: pdoc --html --output-dir docs models/ optimizer/ utils/
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/